[phases.setup]
nixPkgs = ["nodejs", "npm"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build --workspace=@juries/collaboration-service"]

[start]
cmd = "npm run start --workspace=@juries/collaboration-service"
